body {
	font-family: Arial, sans-serif;
	text-align: center;
}
.movie-card {
	display: flex;
	align-items: center;
	margin: 10px;
}
.hidden {
	display: none;
}

#loading {
	font-weight: bold;
	margin-top: 10px;
}
